<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Jess' Mongo Scraper</title>
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudfare.com/ajax/libs/bottswatch/3.3.7/paper/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+SC" rel="stylesheet">
    <link rel="stylesheet" "href="../../assets/css/style.css"> type="text/css" />"
</head>
<body>
 <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Mongo Scraper</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/saved">Saved Articles</a></li>
                    <li><button type="button" class="btn btn-primary" id="scrape">Scrape Articles</button></li>
                </ul>
            </div>
        </div>
    </nav>
    {{{body}}}
 <!--External JS Link-->
        <script src="/assets/js/app.js"></script>
</body>
</html>